.uploadBox {
  width: 1200px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

.caseTab {
  border: 1px dashed #1890FF;
  border-radius: 3px;
  max-height: 500px;
  overflow: auto;
}

.opeBox {
  display: flex;
  justify-content: flex-end;
}

.submitBox {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.steps {
  padding-left: 90px;
  padding-top: 75px;
}

